synapse/pipeline/Consolidation_OneEntity.json
{
    "name": "Consolidation_OneEntity",
    "properties": {
        "activities": [
            {
                "name": "ConsolidationDF_staging",
                "type": "ExecuteDataFlow",
                "dependsOn": [
                    {
                        "activity": "DeleteStagedJustInCase",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "1.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataflow": {
                        "referenceName": "Consolidation_flow",
                        "type": "DataFlowReference",
                        "parameters": {
                            "containerName": {
                                "value": "'@{pipeline().parameters.containerName}'",
                                "type": "Expression"
                            },
                            "entityName": {
                                "value": "'@{pipeline().parameters.entityName}'",
                                "type": "Expression"
                            }
                        }
                    },
                    "compute": {
                        "coreCount": 8,
                        "computeType": "General"
                    },
                    "traceLevel": "Fine"
                }
            },
            {
                "name": "DeleteData",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "If CSV format",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "data_dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            },
                            "entityName": {
                                "value": "@pipeline().parameters.entityName",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "DeleteStagedJustInCase",
                "type": "Delete",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "staging_dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            },
                            "entityName": {
                                "value": "@pipeline().parameters.entityName",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "IfDeleteDeltas",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Copy staged to data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@pipeline().parameters.deleteDeltas",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "DeleteDeltas",
                            "type": "Delete",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "deltas_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Lookup Data Manifest",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "JsonSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "JsonReadSettings"
                        }
                    },
                    "dataset": {
                        "referenceName": "dataManifest_dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            }
                        }
                    }
                }
            },
            {
                "name": "Filtered on entity",
                "type": "Filter",
                "dependsOn": [
                    {
                        "activity": "Lookup Data Manifest",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Lookup data manifest').output.firstRow.entities",
                        "type": "Expression"
                    },
                    "condition": {
                        "value": "@equals(item().entityName, pipeline().parameters.entityName)",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Entity found",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Filtered on entity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@greater(activity('Filtered on entity').output.FilteredItemsCount, 0)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Entity not found",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat('Entity ', pipeline().parameters.entityName, ' not found in the data manifest.')",
                                    "type": "Expression"
                                },
                                "errorCode": "10"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Set entity format",
                            "type": "SetVariable",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "dataFormat",
                                "value": {
                                    "value": "@string(activity('Filtered on entity').output.value[0].dataPartitionPatterns[0].exhibitsTraits[0].traitReference)\n",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Check data format valid",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Entity found",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@or(equals(variables('dataFormat'), 'is.partition.format.parquet'), equals(variables('dataFormat'), 'is.partition.format.CSV'))",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Bad data format",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": {
                                    "value": "@concat('Entity ', pipeline().parameters.entityName, ' does not have a valid trait reference in the data manifest.')",
                                    "type": "Expression"
                                },
                                "errorCode": "13"
                            }
                        }
                    ]
                }
            },
            {
                "name": "If CSV format",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Check data format valid",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "ConsolidationDF_staging",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('dataFormat'), 'is.partition.format.CSV')",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "Convert parquet to CSV format",
                            "type": "ExecuteDataFlow",
                            "dependsOn": [
                                {
                                    "activity": "Delete StagingCsv",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "1.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataflow": {
                                    "referenceName": "Convert parquet to CSV",
                                    "type": "DataFlowReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "'@{pipeline().parameters.containerName}'",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "'@{pipeline().parameters.entityName}'",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "compute": {
                                    "coreCount": 8,
                                    "computeType": "General"
                                },
                                "traceLevel": "Fine"
                            }
                        },
                        {
                            "name": "Delete StagingCsv",
                            "type": "Delete",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "stagingCsv_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Copy staged to data",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "DeleteData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(variables('dataFormat'), 'is.partition.format.CSV')",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Copy data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "ParquetSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFileName": "*.parquet",
                                        "enablePartitionDiscovery": false
                                    }
                                },
                                "sink": {
                                    "type": "ParquetSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "ParquetWriteSettings"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "staging_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "data_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Copy data csv",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "wildcardFileName": "*.csv",
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "stagingCsv_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "dataCsv_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Delete staged csv",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data csv",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "stagingCsv_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "entityName": {
                                            "value": "@pipeline().parameters.entityName",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        },
                        {
                            "name": "Delete staging csv manifest",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data csv",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "stagingCsvManifest_dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "DeleteStaging",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Copy staged to data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "staging_dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            },
                            "entityName": {
                                "value": "@pipeline().parameters.entityName",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "DeleteStagingManifest",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Copy staged to data",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "stagingManifest_dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            }
                        }
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            }
        ],
        "concurrency": 1,
        "parameters": {
            "containerName": {
                "type": "string"
            },
            "entityName": {
                "type": "string"
            },
            "deleteDeltas": {
                "type": "bool",
                "defaultValue": false
            }
        },
        "variables": {
            "dataFormat": {
                "type": "String"
            }
        },
        "annotations": []
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}